@charset "utf-8";
/* NHNC Web Standard HMS 120718 */

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;font-size:12px;color:#222}
body, input, textarea, select,  button{font-family:Arial,Helvetica,AppleGothic,sans-serif;}
.ko_KR,.ko_KR input,.ko_KR textarea,.ko_KR select, .ko_KR button{font-family:'나눔고딕',NanumGothic,'맑은 고딕',malgungothic,'굴림',Gulim,AppleGothic,sans-serif;}
.ja_JP,.ja_JP input,.ja_JP textarea,.ja_JP select, .ja_JP button{font-family:'MS PGothic',Meiryo,arial,AppleGothic,sans-serif;}
.zh_CN,.zh_CN input,.zh_CN textarea,.zh_CN select, .zh_CN button{font-family: 'Microsoft YaHei','Hiragino Sans GB',SimSun,Meiryo,AppleGothic,Arial,Helvetica,sans-serif;}
.zh_TW,.zh_TW input,.zh_TW textarea,.zh_TW select, .zh_TW button{font-family: 'Microsoft YaHei','Hiragino Sans GB',SimSun,Meiryo,AppleGothic,Arial,Helvetica,sans-serif;}

img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{color:#222;text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
table{border-collapse:collapse;border-spacing:0}
input[type=image],input[type=text],input[type=submit],input[type=password],textarea{-webkit-appearance:none;-webkit-border-radius:0;resize:none}
input[type=text]{-webkit-box-shadow:0}
.blind{overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0}
.show{display:block !important}
.hide{display:none !important}
.fl{float:left}
.fr{float:right}

.btn_fav_star.btn_gray{background-position:0 -350px}
.bu_chck.on{background-position:0 -250px}
.bu_chck input{display:none}
.chck.on{background-position:0 -249px}
.inpt_hide{overflow:hidden;position:absolute;width:0;height:0;border:0;font-size:0;line-height:0}
:root .inpt_hide{display:none}


.btn_sm2{padding-right:6px;background-position:100% -70px;line-height:18px;font-size:11px}
.btn_sm2 span,.btn_sm2 strong{padding-left:6px;background-position:0 -70px}

.bar{display:inline-block;width:1px;height:11px;margin:0 8px;vertical-align:middle}


/* 공통레이어 & formtag */
.ly_srch{display:none;overflow:hidden;overflow-y:auto;position:absolute;top:20px;left:0;width:240px;height:233px;border:1px solid #c2c2c2;background:#fff}
.ly_srch ul{padding:10px 3px 3px 6px}
.ly_srch li{padding:0 7px;margin-bottom:9px}
.ly_srch li a,.ly_srch li span{display:block;overflow:hidden;padding:0 7px;line-height:17px;white-space:nowrap;text-overflow:ellipsis}
.ly_srch li .co{display:inline;padding:0;line-height:17px;font-size:9px}
.ly_srch li a{text-decoration:none}
.ly_srch li a:hover{background:#f2f2f2}
.ly_srch li span{color:#a1a1a1}

.slct_box{display:inline-block;zoom:1;*display:inline;vertical-align:middle}
.slct_box:after{display:block;clear:both;content:''}
.slct_box .slct_txt2{margin:0}
.slct_box .input_txt{overflow:hidden;width:100%;margin-right:3px;text-decoration:none;white-space:nowrap;text-overflow:ellipsis}
.slct_box .ly_slct{position:absolute;z-index:30;width:100px;margin-top:-2px;border:1px solid #a6a6a6;background:#fff;text-align:left}
.slct_box .ly_slct .lst_slct{padding:3px 0}
.slct_box .ly_slct.scroll{overflow:auto;overflow-x:hidden;max-height:100px}
.slct_box .ly_slct .lst_slct li{padding:3px 6px}
.slct_box .ly_slct .lst_slct li:hover{background:#ffd3c5}
.slct_box .ly_slct .lst_slct li a{display:block;overflow:hidden;width:100%;text-decoration:none;white-space:nowrap;text-overflow:ellipsis}
.slct_box .ly_slct .lst_slct li a span{padding:0 5px;color:#a1a1a1}
.slct_box2{float:left}
.slct_box3{display:inline-block;*display:inline;vertical-align:middle;zoom:1}
.slct_box4{float:left;margin:0 4px 0 0;*margin:0 3px 0 0}

.inpt_box{display:inline-block;position:relative}
.inpt_box:after{display:block;clear:both;content:''}
.inpt_box .slct_txt.on{background-position:100% -192px}
.inpt_box .ly_slct{position:absolute;top:20px;left:0;z-index:20;width:228px;border:1px solid #a6a6a6;background:#fff}
.inpt_box .ly_slct a:hover{text-decoration:none}
.inpt_box .ly_slct .lst_slct{overflow:auto;overflow-x:hidden;min-height:21px;max-height:104px;padding:5px 0 6px}
.inpt_box .ly_slct .lst_slct li{padding-left:9px;line-height:21px;*line-height:27px;text-align:left}
.inpt_box .ly_slct .lst_slct li:hover{background:#ffd3c5}
.inpt_box .ly_slct .lst_slct li.on{background:#ffd3c5}
.inpt_box .ly_slct .lst_slct strong{color:#22abd6}
.inpt_box .ly_slct .lst_slct .tx_none{width:100%;color:#a1a1a1;vertical-align:middle}
.inpt_box .ly_slct .lst_slct5 .tx_none{display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#222}
.inpt_box .ly_slct .lst_slct .tx_num{display:inline-block;overflow:hidden;width:104px;color:#a1a1a1;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.inpt_box .ly_slct .lst_slct .tx_char{display:inline-block;overflow:hidden;width:94px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.inpt_box .ly_slct .lst_slct2 .tx_num{width:52px}
.inpt_box .ly_slct .lst_slct2 .tx_char{width:146px}
.inpt_box .ly_slct .lst_slct3{max-height:116px}
.inpt_box .ly_slct .lst_slct3 .tx_num{width:73px}
.inpt_box .ly_slct .lst_slct3 .tx_char{width:180px}
.inpt_box .ly_slct .lst_slct4 .tx_num{max-width:42px}
.inpt_box .ly_slct .lst_slct4 .tx_char{max-width:92px}
.inpt_box .ly_slct .add{padding:5px 0 6px 9px;border-top:1px solid #e1e1e1;background:#f5f5f5}
.inpt_box .ly_slct .add .tx_dsc{color:#777}
.inpt_box .ly_slct2{left:57px}
.inpt_box .btn_sm{height:21px;padding-right:3px;vertical-align:bottom}
.inpt_box2 .slct_txt{width:421px}
.inpt_box2 .ly_slct{width:425px}
.inpt_box2 .ly_slct .lst_slct .tx_num{width:164px;color:#444}
.inpt_box2 .ly_slct .lst_slct .tx_char{width:232px;color:#a1a1a1}
.inpt_box2 .ly_slct .lst_slct strong{font-weight:normal}

.slct_lst .lst_slct{*overflow:hidden;word-wrap:break-word}
.slct_lst .lst_slct:after{display:block;clear:both;content:''}
.slct_lst .lst_slct li{float:left;margin-left:19px}
.slct_lst .lst_slct li:first-child{margin-left:0}
.slct_lst .lst_slct2{margin-right:30px;padding-top:8px}
.slct_lst .rdo.on{background-position:0 -550px}
.slct_lst2{display:inline-block;margin-top:3px;vertical-align:middle}
.slct_lst2 .rdo{margin-left:10px}
.slct_lst3 .lst_slct li{width:167px;margin:0 19px 0 0;line-height:20px}
.slct_lst3 .lst_slct li a{text-decoration:none}
.slct_lst3 .lst_slct li.on a{color:#22abd6;text-decoration:underline}
.slct_lst3 .lst_slct .ico_plus{margin-right:5px}
.slct_lst4 .lst_slct{margin-bottom:-1px}
.slct_lst4 .lst_slct li{margin:0 19px 1px 0;white-space:nowrap}
.slct_lst5{display:inline-block;margin-top:11px;vertical-align:middle}
.slct_lst6{display:inline-block;margin-top:0;vertical-align:middle}
.slct_lst6 .lst_slct li:first-child{margin-left:20px}
.slct_lst7{display:inline-block;float:left;margin-top:4px;vertical-align:middle}
.slct_lst8{display:block;float:left;margin:3px 3px 0 0}

/* layout */
#wrap{position:relative;min-width:980px}
#container{position:relative;width:980px;margin:0 auto;zoom:1}
#container:after{display:block;clear:both;content:''}
#content{position:relative;float:left;width:770px;}
#footer{margin:45px 10px 0;padding:20px 0 56px;border-top:1px solid #e1e1e1;line-height:16px;text-align:center}
#footer a{font-weight:bold}

/* header */
#header .header_flex{width:980px;}
#header .gnb_flex{width:980px;}

/* header */
#header .prmrcnt_g064_header_flex{width:980px;}
#header .prmrcnt_g064_gnb_flex{width:980px;}

#header .prmrcnt_g065_header_flex{width:980px;}
#header .prmrcnt_g065_gnb_flex{width:980px;}

/* header */
#prmrcnt_g064_header .prmrcnt_g064_header_flex{width:980px;}
#prmrcnt_g064_header .prmrcnt_g064_gnb_flex{width:980px;}

/* snb */
.snb{float:left;width:180px;margin:18px 30px 0 0}
.snb .snb_top{position:relative;margin-bottom:8px}
.snb .snb_top h2{font-size:23px;line-height:23px;letter-spacing:-2px}
.snb .snb_top h2 a{text-decoration:none}
.snb .snb_top .btn_help{margin-left:2px;font-size:0}
.snb .snb_top .btn_set{position:absolute;top:3px;right:2px;text-decoration:underline}

.snb .snb_nav{position:relative;z-index:10;padding:0 13px;border:2px solid #c2c2c2;zoom:1}
.snb .snb_nav h3{display:inline-block;padding:10px 0;font-size:12px}
.snb .snb_nav .num{margin-left:1px;color:#ff3c00;font-weight:bold;font-size:11px;}
.snb .snb_nav .nav_lst{position:relative;padding:5px 0 11px;border-top:1px solid #eaeaea;zoom:1}
.snb .snb_nav .nav_lst:after{display:block;clear:both;content:''}
.snb .snb_nav .nav_lst.frst{margin:0;border:0}
.snb .snb_nav .nav_lst.frst h3{padding-bottom:6px}
.snb .snb_nav .nav_lst ul{clear:both;zoom:1}
.snb .snb_nav .nav_lst li{padding-bottom:3px;zoom:1}
.snb .snb_nav .nav_lst li a{line-height:18px}
.snb .snb_nav .nav_lst li.selected a{text-decoration:underline}
.snb .snb_nav .nav_lst.fd ul{display:none}
.snb .snb_nav .nav_lst.fd .btn_fd{background-position:0 4px}

.snb .snb_nav .nav_lst_v1{margin-top:-7px;padding:6px 0 12px;border-top:1px dashed #e6e6e6}
.snb .snb_nav .nav_lst_v2 li{position:relative;z-index:10;padding-right:20px}
.snb .snb_nav .nav_lst_v2 li a{display:inline-block;overflow:hidden;max-width:116px;line-height:18px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.snb .snb_nav .nav_lst_v2 li .inpt_name{width:106px;height:15px;margin:-2px 0 -1px -6px;padding:2px 5px;border:1px solid #8ec1e2;line-height:14px}
.snb .snb_nav .nav_lst_v2 li:hover .btn_opt{display:block}
.snb .snb_nav .nav_lst_v2 li .over.btn_opt{display:block}
.snb .snb_nav .nav_lst_v2 li.on .btn_opt{display:block}

.snb .snb_nav .nav_lst_v2 .ly_opt{position:absolute;z-index:20;width:71px;padding:4px 0 6px;border:1px solid #c0c0c0;background:#fff}
.snb .snb_nav .nav_lst_v2 .ly_opt li{padding:0 10px;line-height:21px}

.snb .bg_corner span{width:16px;height:16px}
.snb .bg_corner .rt{top:-3px;right:-3px;background-position:-20px 0}
.snb .bg_corner .lb{left:-3px;bottom:-3px}

/* temp */
.ly_atsc{display:none}

/*  개발자 추가 부분 sinyoung 2013-10-13 */
.mainContentTable{width:100%;}
.mainContentTable .mainContentTableTd1{vertical-align: top;padding-top:15px}
.mainContentTable .mainContentTableTd2{vertical-align: top;}

/* aside */
.aside{float:left;position:relative;width:220px;margin:10px 0 0 26px;}
.aside .tit_srch{position:relative;z-index:10;}
.aside .tit_srch .input_txt{width:162px;height:15px;padding:2px 4px;border:1px solid #d7d7d7;font-weight:bold}
/* color, weight 변경 */
.aside .tit_srch .input_txt.gray{width:162px;height:15px;padding:2px 4px;border:1px solid #d7d7d7;font-weight:normal;color:gray}
.aside .tit_srch .ly_srch{width:218px}

.section_aside{margin-bottom:50px}
.section_aside .lst_type{overflow:hidden;padding:10px 5px 3px;border:1px solid #e5e5e5}
.section_aside .lst_type li{overflow:hidden;float:left;width:84px;padding:0 0 12px;text-align:center}
.section_aside .lst_type li strong.txt_emp{color:#ff3c00;text-decoration:underline}
.section_aside .lst_last{padding:20px;border:1px solid #e5e5e5;line-height:26px;min-height:260px;}

.section_aside2 .lst_type{overflow:hidden;min-height:240px;padding:8px 0 4px;line-height:23px}
.section_aside2 .lst_type li:last-child{margin-bottom:10px}
.section_aside2 .lst_type li:hover em{color:#22b7e6}
.section_aside2 .lst_type em{display:inline-block;width:14px;margin-right:3px;font-family:Tahoma;font-weight:bold;text-align:center;vertical-align:middle}
.section_aside2 .lst_type .btn_fav_star{margin-right:3px}

.section_aside2 .lst_type2{min-height:270px;padding-left:11px;line-height:24px}
.section_aside2 .lst_type2 li{position:relative;height:26px}
.section_aside2 .lst_type2 li:hover .btn_del{background-position:-40px 0}

.section_tab .lst_tab{height:27px;border:1px solid #e4e4e4;border-bottom:1px solid #b3b3b3}
.section_tab .lst_tab li{float:left;width:50%;height:26px;text-align:center}
.section_tab .lst_tab li a{display:block;height:22px;padding-top:5px;background:#f4f5f5}
.section_tab .lst_tab li a:hover{text-decoration:none}
.section_tab .lst_tab li.on a{position:relative;z-index:1;height:22px;margin:-1px -1px 0;padding-top:6px;border:1px solid #b3b3b3;border-bottom:0;background:#fff;font-weight:bold}

.section_tab .lst_tab2{height:28px;border:0;border-bottom:1px solid #b3b3b3}
.section_tab .lst_tab2 li{width:33%;margin-right:-1px;border:1px solid #e4e4e4}
.section_tab .lst_tab2 li:first-child{width:34%;margin-right:-5px}

.page_area{position:relative;text-align:right}
.page_area .num_wrap{margin-right:36px;font-family:Tahoma;font-size:10px;color:#c3c4c6;letter-spacing:1px}
.page_area .num_wrap em{color:#ff3c00}
.page_area .btn_wrap{position:absolute;top:0;right:0}
.page_area .btn_wrap .btn button{display:inline-block;width:14px;height:14px;border:0;background:0;vertical-align:top;cursor:pointer}
.page_area .btn_wrap .next{width:13px;background-position:-44px -90px}
.page_area .btn_wrap .prev.off{background-position:-60px -90px}
.page_area .btn_wrap .next.off{background-position:-74px -90px}

/* main */
.group_inpt{white-space:nowrap;}

.section_srch .group_opt{display:none;clear:right;position:relative;padding:9px 10px 11px 30px;background:#f4f5f5;vertical-align:top;zoom:1}
.section_srch .group_opt .tb_opt{width:100%;table-layout:fixed}
.section_srch .group_opt .tb_opt th,.section_srch .group_opt .tb_opt td{padding:5px 0;text-align:left;vertical-align:middle}
.section_srch .group_opt .tb_opt input{width:118px;height:15px;padding:2px 5px;border:1px solid #d7d7d7;background:#fff;line-height:14px;vertical-align:middle}
.section_srch .group_opt .tb_opt input.check{width:18px;height:15px;padding:2px 0px;border:0px solid #d7d7d7;background:#f4f5f5;line-height:14px;vertical-align:middle}
.section_srch .group_opt .tb_opt label{font-size:12px}
.section_srch .group_opt .tb_opt select{width:130px;height:21px;vertical-align:middle}
.section_srch .group_opt .tb_opt .sel_date{width:80px;margin-right:1px}
.section_srch .group_opt .tb_opt .sel_title{width: 85px;}
.section_srch .group_opt .tb_opt .inpt_date{width:88px}
.section_srch .group_opt .tb_opt .inpt_dis{color:#a1a1a1}
.section_srch .group_opt .tb_opt .ico_date{margin:0 6px}
.section_srch .group_opt .tb_opt .inpt_wrap{display:inline-block;position:relative}
.section_srch .group_opt .tb_opt .inpt_wrap input{width:108px;padding-right:15px}
.section_srch .group_opt .btn_area{position:absolute;top:15px;right:0;width:98px;height:53px;padding-top:31px;border-left:1px solid #ccc;text-align:center}

.section_srch2{position:relative;margin-top:43px}
.section_srch2 .input_txt{padding:3px 6px 5px;border:0;border:2px solid #ff3c00;font-weight:bold;font-size:13px;color:#ff3c00;vertical-align:top}
.section_srch2 .btn_sm2{position:absolute;top:8px;right:0}

.group_select{overflow:hidden;margin:13px 0 11px}
.group_select p{float:left}
.group_select p em{color:#ff3c00}
.group_select .select_area{float:right}
.group_select .select_area input{margin:0 1px 0 12px}
.group_select .select_area label{vertical-align:top}
.group_select .select_area label:last-child{padding-right:0}

.section_tit{position:relative;padding-bottom:6px;line-height:18px;zoom:1}
.section_tit:after{display:block;content:'';clear:both}
.section_tit.frst{margin-top:52px}
.section_tit.frst.main{margin-top:38px}
.section_tit.space{margin-top:28px}
.section_tit.space2{margin-top:26px}
.section_tit.noSearch{padding-bottom:0px}
.section_tit h3{font-size:13px}
.section_tit .tx_setting{margin-right:7px;font-weight:bold}
.section_tit .tit_dsc{margin-left:2px}
.section_tit .tit_dsc .bar{margin:0 5px;color:#e5e5e5;vertical-align:top}
.section_tit .tit_dsc strong{color:#ff3c00}
.section_tit .tit_srch{position:absolute;top:-42px;right:0}
.section_tit .tit_srch .input_txt{width:162px;height:15px;padding:2px 4px;border:1px solid #d7d7d7;font-weight:bold}
.section_tit .tit_srch .input_txt.gray{width:162px;height:15px;padding:2px 4px;border:1px solid #d7d7d7;font-weight:normal;color: gray}
.section_tit .tit_srch .btn_sm{height:21px;padding-right:8px;vertical-align:bottom}

.section_main{margin-bottom:27px;border-top:1px solid #e5e5e5;margin-top:4px;zoom:1}
.section_main.v2{min-height:305px}
.section_main .lst_type{padding:12px 0}
.section_main .lst_type li{overflow:hidden;margin-bottom:5px;line-height:21px;color:#a1a1a1;zoom:1}
.section_main .lst_type li p{overflow:hidden;color:#8d8d8d}
.section_main .lst_type li p.tit{float:left;min-width:300px;width:320px;margin-right:10px;white-space:nowrap;text-overflow:ellipsis}
.section_main .lst_type li a em.new{background-position:-130px -60px}
.section_main .lst_type .situ{overflow:hidden;float:left;width:57px;margin:0 10px 0 0;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.section_main .lst_type .situ_v1,.section_main .lst_type .situ_v1 a{color:#ff3c00}
.section_main .lst_type .tit{overflow:hidden;float:left;min-width:300px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.section_main .lst_type .tit a{text-decoration:none}
.section_main .lst_type .tit strong{color:#ff3c00}
.section_main .lst_type .tit strong.txt_thm{font-family:Tahoma;font-size:11px}
.section_main .lst_type .rgt{float:right}
.section_main .lst_type .name{overflow:hidden;float:left;width:50px;margin-right:15px;color:#8c8c8c;text-align:right;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.section_main .lst_type .date{float:left;width:172px}


.section_main .lst_type li:hover{background:#ffd3c5}
.section_main .lst_type2 li{margin-bottom:11px}
.section_main .lst_type2 li p{line-height:17px}
.section_main .lst_type2 li p.tit{width:200px;margin-right:30px;font-weight:bold}
.section_main .lst_type2 li p strong{font-weight:normal;color:#ff3c00}
.section_main .lst_type2 li p .btn_fav_star{margin-right:3px}
.section_main .lst_type2 .tit strong{font-weight:bold}
.section_main .no_rst{padding:98px 0 78px;font-size:12px;font-weight:bold;text-align:center}

.section_main .lst_type3{padding:12px 0}
.section_main .lst_type3 li{overflow:hidden;margin-bottom:5px;line-height:21px;color:#a1a1a1;zoom:1}
.section_main .lst_type3 li P{overflow:hidden;float:left;width:220px;margin-right:8px;white-space:nowrap;text-overflow:ellipsis}
.section_main .lst_type3 li P.txt_dsc{float:none;width:auto}
.section_main .lst_type3 li:hover{background:#ffd3c5}
.section_main .lst_type3 .situ{overflow:hidden;float:left;width:40px;margin:0 10px 0 0;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.section_main .lst_type3 .situ_v1{color:#ff3c00}
.section_main .lst_type3 .situ_v1 A{color:#ff3c00}
.section_main .lst_type3 .tit{overflow:hidden;float:left;min-width:460px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.section_main .lst_type3 .tit A{text-decoration:none}
.section_main .lst_type3 .tit STRONG{font-family:Tahoma;font-size:11px;color:#089dcd}
.section_main .lst_type3 .rgt{float:right}
.section_main .lst_type3 .name{overflow:hidden;float:left;width:50px;margin-right:30px;color:#8c8c8c;text-align:right;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.section_main .lst_type3 .date{float:left;width:60px;margin-right:20px}
.section_main .no_rst{padding:98px 0 78px;font-size:12px;font-weight:bold;text-align:center}

.container_v2 .section_tit .tit_dsc{font-size:11px;font-weight:normal}
.container_v2 .section_main{margin-bottom:38px;width:555px;float:left}
.container_v2 .section_main .lst_type{padding:10px 0}
.container_v2 .section_main .lst_type li{overflow:hidden;margin-bottom:5px;line-height:21px;color:#a1a1a1;zoom:1}
.container_v2 .section_main .lst_type li:hover{background:#ffd3c5}
.container_v2 .section_main .lst_type .situ{overflow:hidden;float:left;width:40px;margin:0 20px 0 10px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.container_v2 .section_main .lst_type .situ_v1{color:#ff3c00}
.container_v2 .section_main .lst_type .tit{overflow:hidden;width:71%;font-weight:normal;vertical-align:middle}
.container_v2 .section_main .lst_type .tit a{text-decoration:none}
.container_v2 .section_main .lst_type .rgt{float:right}
.container_v2 .section_main .lst_type .name{overflow:hidden;float:left;width:50px;margin-right:40px;color:#a1a1a1;text-align:right;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.container_v2 .section_main .lst_type .date{float:left;width:60px;margin-right:10px}
.container_v2 .section_main2 .lst_type{min-height:20px}
.container_v2 .section_main2 .lst_type li{width:25%}

.section_main2 {overflow:hidden;width:100%;margin-bottom:38px}
.section_main2 .lst_type{margin-right:-12px;padding:12px 0 5px 5px;zoom:1}
.section_main2 .lst_type:after{display:block;clear:both;content:''}
.section_main2 .lst_type li{float:left;width:20%;*width:19.5%;line-height:18px;zoom:1}
.section_main2 .lst_type li.on a{font-weight:bold;color:#ff3c00;text-decoration:none}
.section_main2 .lst_type2 li{width:33%}

.section_main3 {overflow:hidden;min-height:261px;padding:15px 0px;border-top:1px solid #e5e5e5;}
.section_main3 .group_lst{float:left;width:50%}
.section_main3 .group_lst h3{margin-bottom:7px;font-size:12px}
.section_main3 .group_lst .lst_type{line-height:24px}
.section_main3 .group_lst .btn_fav_star{margin-right:3px}
.section_main3 .group_lst p{padding-top:5px;color:#8d8d8d}

.section_main4{border-top:1px solid #e5e5e5}
.section_main4 .lst_liked{overflow:hidden;padding:0 10px}
/* 너비와 padding 수정 센터정렬을 위해*/
.section_main4 .lst_liked li{float:left;width:115px;padding:30px 5px 0 5px;text-align:center}
.section_main4 .lst_liked li a:hover{text-decoration:none}
.section_main4 .lst_liked .v2{background-position:-55px 0}
.section_main4 .lst_liked .v3{background-position:-110px 0}
.section_main4 .lst_liked .v4{background-position:-165px 0}
.section_main4 .lst_liked .v5{background-position:0 -55px}
.section_main4 .lst_liked .v6{background-position:-55px -55px}
.section_main4 .lst_liked .v7{background-position:-110px -55px}
.section_main4 .lst_liked .v8{background-position:-165px -55px}
.section_main4 .lst_liked .v9{background-position:0 -110px}
.section_main4 .lst_liked .v10{background-position:-55px -110px}
.section_main4 .lst_liked .v11{background-position:-110px -110px}
.section_main4 .lst_liked .v12{background-position:-165px -110px}
.section_main4 .lst_liked .v13{background-position:0 -165px}
.section_main4 .lst_liked .v14{background-position:-55px -165px}
.section_main4 .lst_liked .v15{background-position:-110px -165px}
.section_main4 .lst_liked .v16{background-position:-165px -165px}
.section_main4 .lst_liked .v17{background-position:0 -220px}
.section_main4 .lst_liked .v18{background-position:-55px -220px}
.section_main4 .lst_liked .v18_2{background-position:-110px -275px}
.section_main4 .lst_liked .v19{background-position:-110px -220px}
.section_main4 .lst_liked .v20{background-position:-165px -220px}
.section_main4 .lst_liked .v21{background-position:0 -275px}
.section_main4 .lst_liked .v22{background-position:-55px -275px}
.section_main4 .lst_liked .tx{display:block;overflow:hidden;padding-top:3px;}

.section_pagi{margin-top:53px;text-align:center;margin-bottom:40px;}
.section_pagi a,.section_pagi strong{padding:0 5px;font-size:12px;line-height:16px}
.section_pagi a{font-weight:bold}
.section_pagi strong{color:#ff3c00;text-decoration:underline}

/* table list */
.section_tb{position:relative}

.tb_lst{width:100%;border-bottom:1px solid #ccc;table-layout:fixed;word-wrap:break-word;word-break:keep-all}
.tb_lst caption{display:none}
.tb_lst th,.tb_lst td{line-height:18px;text-align:center}
.tb_lst th{padding:7px 5px 8px;background:#eee;font-size:12px}
.tb_lst td{padding:8px 5px 7px;border-top:1px solid #ededed;word-wrap:break-word}
.tb_lst td.frst{padding-left:20px}
.tb_lst td.last{padding-right:10px}
.tb_lst .noline td{border:0}
.tb_lst .no_rst{padding:85px 0 104px;font-size:12px;color:#a1a1a1}
.tb_lst .topSpace{margin-top:13px;}

.tb_lst th .btn_arr.up{background-position:100% -94px}
.tb_lst td.tit{text-align:left}
.tb_lst td.info,.tb_lst td.info a{color:#a1a1a1}
.tb_lst td.situ{padding-left:8px;padding-right:5px;color:#a1a1a1}
.tb_lst td.situ_v1{color:#ff3c00}
.tb_lst th.choice{padding:7px 0 8px 12px}
.tb_lst td.choice{padding:7px 5px 8px 20px}
.tb_lst .btn_help{margin-left:2px;vertical-align:middle}
.tb_lst .btn_del2{display:inline-block;height:13px;margin-top:1px;vertical-align:middle}

.section_btm{overflow:hidden;margin-bottom:-33px;padding-top:10px}
.section_btm .btn_area{float:right;text-align:right}
.section_btm .chck_area{float:left;padding:3px 0 0 20px}
.section_btm .chck_area .chck{padding-left:32px;font-weight:bold;vertical-align:middle}

.ly_tb{position:absolute;top:27px;z-index:100;padding:12px 22px 12px 15px;border:1px solid #c0c0c0;background:#fff;line-height:17px}
.ly_tb em{display:block;padding-top:4px;color:#a1a1a1}

/* form 서식함 */
.form_srch{overflow:hidden;padding-bottom:14px;border-bottom:1px solid #ccc;line-height:14px}
.form_srch h2{float:left;margin-right:12px;font-size:13px}
.form_srch p{float:left;color:#888}

.sort_tab{overflow:hidden;margin:14px 0 0px}
.sort_tab ul{margin-right:-8px}
.sort_tab li a{color:#a1a1a1;text-decoration:none}
.sort_tab li.frst{padding-left:0;background:0}
.sort_tab li.on a{font-weight:bold;color:#222}

.form_lst{margin:30px -20px 0 0}
.form_lst .form{display:inline-block;*display:inline;width:242px;margin:0 37px 40px 0;vertical-align:top;zoom:1}
.form_lst .form h3{padding-left:6px;font-size:12px;line-height:16px}
.form_lst .form ul{margin:7px 0 0}
.form_lst .form li{display:inline-block;*display:inline;overflow:hidden;position:relative;width:205px;height:21px;margin-bottom:5px;padding-left:5px;line-height:21px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis;zoom:1}
.form_lst .form li.over{overflow:visible;z-index:10;width:auto;padding-right:5px;background:#ffd3c5;width:205px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.form_lst .form li a{text-decoration:none !important;vertical-align:middle}
.form_lst .form li a em.new{background-position:-130px -60px}
.form_lst .form li .btn_fav_star{margin:0 1px 0 0}

.form_lst2{position:relative;margin:33px 0 0}
.form_lst2 table{position:relative;width:100%;border-collapse:collapse;table-layout:fixed}
.form_lst2 table caption{display:none}
.form_lst2 table th{height:33px;padding-right:20px;background:#eee;font-size:12px}
.form_lst2 table th em{font-size:11px;font-weight:normal;color:#a1a1a1}
.form_lst2 table th .btn_mid{position:absolute;right:10px;margin-top:-4px;font-weight:normal}
.form_lst2 table th a.ico{margin:2px 0 0 4px;vertical-align:middle}

.form_lst2 table td{padding:5px 0 4px;line-height:17px;vertical-align:top}
.form_lst2 table tr.frst td{height:7px;padding:0;font-size:0;line-height:0}
.form_lst2 table tr.on td{background:#ffd3c5}
.form_lst2 table td a em.new{background-position:-130px -60px}
.form_lst2 table td a.btn_fav_star{margin:-1px 1px 0 0}

.form_lst2 table td span{padding:0 20px 0 8px}
.form_lst2 table td.dsc{padding:5px 20px 4px 0}
.form_lst2 table td.corp span{padding-left:0}
.form_lst2 table td.dsc2 span{padding:0 10px 0 0}
.form_lst2 table td.dsc2 input{width:97%;height:20px;padding:0 5px;border:1px solid #d2d2d2;line-height:20px}

.form_lst2 table td.btn_sort{padding:0;background:#fff !important}
.form_lst2 table td.btn_sort ul{position:relative;width:29px;margin:8px 0 0 10px}
.form_lst2 table td.btn_sort li.on{background-position:100% -130px}
.form_lst2 table td.btn_sort li.on a{background-position:0 -130px;color:#fff}
.form_lst2 table td.btn_sort li.w a{min-width:25px}
.form_lst2 table td.btn_sort li.top{background:0}

.corp_info_lst{position:absolute;z-index:100;border:1px solid #c0c0c0;background:#fff}
.corp_info_lst ul{padding:10px 11px 10px 5px}
.corp_info_lst li{padding:4px 10px;vertical-align:middle;white-space:nowrap}
.corp_info_lst li strong{display:inline-block;width:24px}




/** 나의결재함 오른쪽버튼 관련 처리 **/
@CHARSET "UTF-8";
.vs-context-menu{display:none;font-family: '돋움', Verdana, Arial, Helvetica, sans-serif;position: absolute;background: white;border: 1px solid #91C4DF;width:auto;word-break:keep-all;font-size: 11px;font-color: #666;}
.vs-context-menu ul{list-style: none;padding: 5px;margin: 0;}
.vs-context-menu li{margin: 0px;padding-left: 1px;text-align: left;}
.vs-context-menu ul a{display: block;padding: 1px 5px;padding-left: 28px;text-decoration: none;color: #666;background-repeat: no-repeat;height: 16px;vertical-align: middle;}
.vs-context-menu ul li a:hover, .vs-context-menu ul li a:focus { color: #666; background-color: pink;}
.seprator{ border-bottom: 1px solid  #DDDDDD;}

/** Admin Tab Menu**/
.sort_tab1 ul{float:left; margin-bottom:5px;border-bottom:1px solid #E7E9EC;width:99%;padding-left:10px}
.sort_tab1 li{float:left;height:29px;padding:0 5px 0 5px;margin-right:-1px;margin-bottom:-1px;border:1px solid #E7E9EC;background:#FCFCFC;min-width:90px;}
.sort_tab1 li a{display:block;height:21px;padding:7px 1px 0 0;border:1px solid #FFF;border-width:1px 0 0 1px;line-height:106%;font-weight:normal;font-size:12px;color:#ADADAD;text-align:center;text-decoration:none;vertical-align:top}
.sort_tab1 li a:hover{text-decoration:none}
.sort_tab1 li.on{border-bottom:1px solid #FFF;background:#FFF}
.sort_tab1 li.on a{font-weight:bold;color:#2A2B30}
.sort_tab1 li.comment{float:right;border:0px;height:20px;margin-top:7px;}
#header .section_header{width:99%;margin-right:10px; margin-left:10px}

.thin {width:1200px;}
.wide {width:100%;}

.searchAreaBasicBtn {white-space:nowrap}



#container {
    position: relative;
    width: 980px;
    margin: 0 auto;
    zoom: 1;
}

#container .name {
    font-size: 20px;
    font-weight: bold;
}

#container .nim {
    font-size: 15px;
}

.snb {
    float: left;
    width: 180px;
    margin: 18px 30px 0 0;
    text-align: left;
}

.snb .snb_nav .nav_lst.frst {
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0;
    border: 0;
}

div .big_menu {
    cursor: pointer;
    font-size: 16px;
    color: #222;
    text-decoration: none;
}

.small_menu {
    line-height: 18px;
    cursor: pointer;
    display: inline-block;
}
